pcov_kws/__pycache__
.ipynb_checkpoints
.venv*
build
dist
__pycache__
data_format_fixed

*.egg-info
*.h5
*.ckpt
*.pth
*.pt
*.tflite
*.onnx
*.wav

PCOV_KWS_App
assets/*
!assets/.gitkeep
pcov_kws/sample_refs/*
!pcov_kws/sample_refs/.gitkeep
wakewords/*
!wakewords/.gitkeep